@charset "utf-8";
/* CSS Document */

.twitter{
	width:250px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background:#fff;
	border:1px solid #ccc;
	outline:none;
	padding:6px;
	
}

.twitter:focus {
	border:2px solid #56b4ef;
	box-shadow:0px 0px 3px 1px #0CF;
	
}	

p{font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;}
/* CSS Document */

